.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_container h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.home_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    background-color: #222;
}

.home_container p {
    margin-bottom: 1.5rem;
    color: #7b7b7b;
}
.home_container img {
    width: 350px;
    margin: 2em 0;
}